:host {

    form {
        display: flex;
        flex-direction: column;
        height: 100%;

        mat-form-field {
            display: block;
        }

        .plugin-group-hint {
            font-size: 0.9em;
        }

        .view-controls {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .loading-indicator {
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .install-step-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow-y: hidden;

        > .install-stepper {
            flex: 1 0 50%;
        }

        .plugin-info-panel {
            width: 50%;
            overflow: auto;

            .preview-plugin-img {
                cursor: pointer;
            }
        }
    }

    .install-stepper {
        overflow: auto;

        &:empty {
            display: none;
        }

        .install-step-label[step-enabled=false] {
            font-style: italic;
            opacity: 0.8;
        }

        .install-step-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            flex-grow: 1;
            gap: 1.5rem;
            margin-bottom: 1.5rem;

            fieldset {
                border-radius: 0.8rem;
            }
        }

        .plugin {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            mat-icon.plugin-desc {
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }

        app-value-checkbox {

            & + mat-label[disabled] {
                color: var(--mdc-filled-text-field-disabled-label-text-color);
            }
        }
    }

    @at-root .plugin-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        &.fullscreen-plugin-preview {
            flex-grow: 1;
            position: relative;
            overflow: auto;

            .plugin-preview-close {
                position: absolute;
                top: 0.25rem;
                right: 0.25rem;
            }
        }

        .plugin-preview-img-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-height: 6rem;

            .preview-plugin-img {
                background-size: contain;
                background-repeat: no-repeat;
                background-position-x: center;
                flex: 1 1 100%;
                filter: drop-shadow(0px 10px 5px #333);
            }
        }

        .plugin-preview-desc {
            text-align: center;
            align-self: center;
            width: 30rem;
        }

        .plugin-preview-name {
            text-align: center;
            font-size: 1.1em;
            font-weight: 500;
        }
    }
}

