@mixin declare() {

    mat-action-list {
        
        .mat-mdc-list-item-unscoped-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            > mat-icon {
                margin-right: 8px;
            }
        }
    }

    mat-form-field[subscript=false] {

        .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }
}
