@mixin declare() {

    mat-action-list {
        
        .mat-mdc-list-item-unscoped-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            > mat-icon {
                margin-right: 8px;
            }
        }
    }

    mat-form-field[subscript=false] {

        .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }

    mat-stepper, mat-vertical-stepper {

        &[header-disabled=true] {

            mat-step-header {
                display: none !important;
            }
        }

        &[fixed-scroll=true] {

            .mat-horizontal-content-container {
                flex-grow: 1;
            }

            .mat-horizontal-stepper-wrapper, .mat-horizontal-stepper-content:not(.mat-horizontal-stepper-content-inactive) {
                overflow-y: hidden;
                height: 100%;
            }

            .mat-horizontal-stepper-content {
                display: flex;
                flex-direction: column;
            }
        }

        &[disable-completed-steps=true] {

            mat-step-header {

                // Use .mat-warn to signify a disabled step
                // TODO - Find a better way to do this
                &.mat-warn {
                    pointer-events: none;
                }

                > *.mat-step-icon.mat-step-icon-state-done {
                    background: grey;
    
                    mat-icon {
                        display: none;
                    }
                }
            }
        }

        mat-step-header.mat-horizontal-stepper-header  {
            height: 64px !important;
        }
    }
}
