<form #preferencesForm="ngForm" id="preferences-form" (ngSubmit)="onFormSubmit$.next(preferencesForm)">
    @if (!!formModel) {
        <span>
            <mat-checkbox name="normalizePathCasing"
                          [(ngModel)]="formModel.normalizePathCasing">
                Normalize mod file path
                &nbsp;<mat-icon matTooltip="Recommended for Linux">help</mat-icon>
            </mat-checkbox>
        </span>

        <span>
            <mat-checkbox name="verifyProfileOnStart" [(ngModel)]="formModel.verifyProfileOnStart">
                Verify active profile on app startup
                &nbsp;<mat-icon matTooltip="Disable this if verification is taking too long during startup">help</mat-icon>
            </mat-checkbox>
        </span>

        <span>
            <mat-checkbox name="pluginsEnabled" [(ngModel)]="formModel.pluginsEnabled">
                Enable game plugins
            </mat-checkbox>
        </span>

        <mat-form-field appearance="fill">
            <mat-label>
                Steam Compat Data Root
            </mat-label>
            <input matInput type="text" name="steamCompatDataRoot" [(ngModel)]="formModel.steamCompatDataRoot">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>App Theme</mat-label>
            <mat-select name="theme" [(ngModel)]="formModel.theme">
                @for (theme of themes; track theme) {
                    <mat-option [value]="theme">
                        {{ theme }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
}
</form>