<mat-card>
    <mat-card-header>
        <mat-card-title>External file list</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="profile.manualMods" class="external-files">
            <div *ngFor="let file of profile.manualMods">
                {{ file }}
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="overlayRef.close()">
            Close
        </button>
    </mat-card-actions>
</mat-card>