
<mat-action-list>
    <button mat-list-item (click)="showModInFileExplorer()">
        <mat-icon matListIcon>folder</mat-icon>
        <span matLine>View in File Explorer</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-list-item (click)="moveModToTop()">
        <mat-icon matListIcon>arrow_upward</mat-icon>
        <span matLine>Move to Top</span>
    </button>

    <button mat-list-item (click)="moveModToBottom()">
        <mat-icon matListIcon>arrow_downward</mat-icon>
        <span matLine>Move to Bottom</span>
    </button>

    <button mat-list-item (click)="renameMod()">
        <mat-icon matListIcon>abc</mat-icon>
        <span matLine>Rename Mod</span>
    </button>

    <button mat-list-item (click)="deleteMod()">
        <mat-icon matListIcon color="warn">delete</mat-icon>
        <span matLine matColor="warn">Delete Mod</span>
    </button>
</mat-action-list>