:host {
    margin-top: 90vh;

    &, > mat-card {
        width: 100%;
    }

    mat-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1rem;

        > .sync-icon {
            margin-right: 0.7rem;
        }
    }
}