:host {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    align-items: stretch;

    #profile-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        flex-grow: 1;

        > * {
            flex: 1 1 100%;
            height: 100%;
        }

        .control-card {
            width: 100%;
            height: 100%;

            > mat-card-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow-y: auto;
            }
        }

        #profile-mod-list {

            #profile-select-trigger {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            > mat-card > mat-card-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .empty-mod-list-hint {
                display: flex;
                align-items: center;
            }
        }

        #mod-list-actions {

            > button {
                position: relative;

                > .button-menu-icon {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 1.3rem;
                    width: 1.3rem;
                    height: 1.3rem;
                }
            }
        }

        #profile-actions {
            flex-basis: 64%;
            margin-left: 1.5rem;
            max-width: 768px;

            > mat-card-content {
                align-items: center;
                justify-content: space-between;

                > .actions {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    row-gap: 1rem;
                    margin-bottom: 1.25rem;

                    > button {
                        margin-right: 1rem;
                    }
                }

                .spacer {
                    flex: 1 1 auto;
                }
            }
        }

        #primary-actions > button {
            height: 3.25rem;
            font-size: 1rem;

            > mat-icon {
                width: 1.75rem;
                height: 1.75rem;
                font-size: 1.75rem;
            }
        }

        #secondary-actions > button {
            font-size: 0.8rem;
        }

        #game-info {
            margin-bottom: 0.5rem;

            #mod-status {
                opacity: 0.8;

                &[mods-activated=false] {
                    font-style: italic;
                }
            }
        }

        #game-actions {

            #launch-game-button {
                height: 5rem;
                font-size: 1.5rem;
    
                > mat-icon {
                    width: 3rem;
                    height: 3rem;
                    font-size: 3rem;
                }
            }
        }
    }
}