:host {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    align-items: stretch;

    .warning {
        color: rgb(200, 200, 0);
        font-weight: 500;
        font-style: normal;
    }

    #profile-controls {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        gap: 1.5rem;
        flex-grow: 1;

        .control-card {
            width: 100%;
            height: 100%;

            > mat-card-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow-y: auto;
            }
        }

        .tool-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            > button {
                position: relative;
            }
        }

        #profile-mod-list {
            flex: 1 1 75%;

            > #profile-mgmt-controls {
                display: flex;
                flex-direction: row;
                align-items: stretch;

                > #active-profile-form-field {
                    flex: 1 1 auto;
                }

                > #profile-game-title {
                    flex: 0 0 auto;
                    border-top-left-radius: 0.5rem;
                }

                > #profile-mgmt-buttons {
                    flex: 0 0 auto;
                    padding: 0 1rem;
                    border-top-right-radius: 0.5rem;
                }

                #profile-select-trigger {
                    font-weight: 500;
                }

                #profile-mgmt-button > mat-icon:not(.button-menu-icon) {
                    margin-left: -0.5rem;
                }
            }

            .empty-mod-list-hint {
                display: flex;
                align-items: center;
            }
        }

        #right-pane-actions {
            flex: 1 1 content;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            > * {
                height: 1px;
            }

            #plugin-actions {
                flex-grow: 1;
                min-height: 20rem;

                > mat-card-content {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    overflow-y: auto;
                }
            }

            #profile-actions {
                flex-basis: min-content;
                display: flex;
                flex-direction: column;

                &[fixed] {
                    flex-grow: 1;
                }

                &.mat-expanded {
                    min-height: 10rem;

                    ::ng-deep {
                        .mat-expansion-panel-content {
                            flex-grow: 1;
                            flex-basis: 100%;
                            overflow: auto;
                            

                            .mat-expansion-panel-body {
                                height: 100%;
                            }
                        }
                    }
                }

                mat-expansion-panel-header {
                    flex-shrink: 0;
                }

                mat-panel-description {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > * {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;

                        button.no-label {
                            min-width: auto !important;

                            mat-icon {
                                margin: 0 !important;
                            }
                        }
                    }
                }

                #profile-actions-panel-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;

                    > .actions {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        row-gap: 1rem;
                        margin-bottom: 1.25rem;

                        > button {
                            margin-right: 1rem;
                        }
                    }

                    .spacer {
                        flex: 1 1 auto;
                        min-height: 3rem;
                    }
                }
            }
        }

        .primary-actions > button {
            height: 3.25rem;
            font-size: 1rem;

            > mat-icon {
                width: 1.75rem;
                height: 1.75rem;
                font-size: 1.75rem;
            }
        }

        .secondary-actions > button {
            font-size: 0.8rem;
        }

        #game-info {
            margin-bottom: 0.5rem;

            #mod-status {
                opacity: 0.8;
                display: flex;
                align-items: flex-end;

                mat-icon {
                    margin-right: 0.5rem;
                }

                &[mods-activated=false] {
                    font-style: italic;
                }
            }
        }

        #game-actions {

            #launch-game-button {
                height: 5rem;
                font-size: 1.5rem;
    
                > mat-icon {
                    width: 3rem;
                    height: 3rem;
                    font-size: 3rem;
                }
            }
        }
    }

    button {

        .button-menu-icon {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1.3rem;
            width: 1.3rem;
            height: 1.3rem;
        }

        &:not([mat-icon-button]) .button-menu-icon {
            right: -0.5rem;
        }
    }

    @at-root .import-plugin-backup-menu {
        overflow-y: auto;

        mat-card-content {
            padding: 0;
        }

        mat-action-list {

            > button.backup-file-item {
                padding-right: 4px; 
            }

            .backup-file-item-line {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
    }

    @at-root mat-option .game-title {
        font-size: 1rem;
        height: calc(48px - 16px); // TODO
        margin-right: 2rem;
        border-radius: 0.25rem;
    }

    @at-root mat-option .profile-name {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
    }
}