
<!-- Profile Controls-->
<div id="profile-controls" *ngIf="!!activeProfile">
    <mat-card id="profile-mod-list" class="control-card mat-elevation-z3">
        <div id="profile-mgmt-controls">
            <app-game-badge id="profile-game-title" [gameId]="activeProfile.gameId" />

            <mat-form-field id="active-profile-form-field" [attr.subscript]="false">
                <mat-label>Current Profile</mat-label>
                <mat-select #currentProfileSelect
                            [ngModel]="activeProfile"
                            [compareWith]="profileDescCompareFn"
                            (ngModelChange)="profileManager.loadProfile($event, true)">
                    <mat-select-trigger id="profile-select-trigger">
                        <span matColor="primary">{{ activeProfile.name }}</span>
                    </mat-select-trigger>

                    <ng-container *ngFor="let profileDesc of profiles">
                        <mat-option [value]="profileDesc">
                            <app-game-badge class="game-title" [gameId]="profileDesc.gameId" />

                            <span class="profile-name">
                                {{ profileDesc.name }}
                                <mat-icon *ngIf="profileDesc.deployed"
                                          class="deployed-icon"
                                          color="primary"
                                          matTooltip="Profile is active">
                                    play_circle
                                </mat-icon>
                            </span>
                        </mat-option>
                        <mat-divider />
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <span id="profile-mgmt-buttons" class="select-header-buttons">
                <button mat-icon-button
                        id="profile-mgmt-button"
                        color="primary"
                        matTooltip="Manage Profiles"
                        (click)="showProfileMgmtMenu($event); $event.stopPropagation()">
                    <mat-icon>person</mat-icon>
                    <mat-icon class="button-menu-icon">arrow_drop_down</mat-icon>
                </button>
            </span>
        </div>

        <!-- Mod Lists -->
        <mat-card-content class="mod-list-content">
            <div class="mod-list-actions-bar">
                <span id="mod-list-actions">
                    <button mat-icon-button color="accent" matTooltip="Add Mod..." (click)="showAddModMenu($event)">
                        <mat-icon>add</mat-icon>
                        <mat-icon class="button-menu-icon">arrow_drop_down</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Explore Profile Mod Files" (click)="showProfileModsDirInFileExplorer()">
                        <mat-icon>folder_open</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Verify Profile" (click)="profileManager.verifyActiveProfile()">
                        <mat-icon>find_replace</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Profile Settings" (click)="profileManager.showProfileWizard(activeProfile)">
                        <mat-icon>settings</mat-icon>
                    </button>
                </span>
            </div>

            <ng-container *ngIf="activeProfile.rootMods.length > 0">
                <mat-card-title class="sticky-title">Root Mods</mat-card-title>

                <app-profile-mod-list [profile]="activeProfile"
                                    [root]="true"
                                    (modChange)="registerModUpdate(true, $event.name, $event.modRef)"
                                    (modOrderChange)="reorderMods(true, $event)" />
            </ng-container>

            <ng-container *ngIf="activeProfile.mods.length > 0; else emptyModListHint">
                <mat-card-title class="sticky-title">Mods</mat-card-title>

                <app-profile-mod-list [profile]="activeProfile"
                                    [root]="false"
                                    (modChange)="registerModUpdate(false, $event.name, $event.modRef)"
                                    (modOrderChange)="reorderMods(false, $event)" />
            </ng-container>
            
            <ng-template #emptyModListHint>
                <i class="empty-mod-list-hint">Click the <mat-icon color="accent">add</mat-icon> icon above to add a mod.</i>
            </ng-template>
        </mat-card-content>
    </mat-card>

    <!-- Data actions -->
    <div id="right-pane-actions">
        <mat-card *ngIf="activeDataAction" id="plugin-actions">
            <mat-card-header class="tool-header">
                <mat-card-title>
                    <!-- Action selector -->
                    <mat-form-field id="data-actions-picker" [attr.subscript]="false">
                        <mat-select id="data-actions-type" [(ngModel)]="_activeDataAction">
                            <mat-select-trigger>
                                <span id="data-actions-type-trigger">{{ activeDataAction | titlecase }}</span>
                            </mat-select-trigger>
                            <mat-option [disabled]="!profileHasPlugins" value="plugins">
                                Plugins
                            </mat-option>
                            <mat-option [disabled]="!activeProfile.manageConfigFiles" value="config">
                                Config
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-title>

                @switch (activeDataAction) {
                    @case ("plugins") {
                        <!-- Plugin List Controls -->
                        <span id="plugin-list-actions" class="select-header-buttons">
                            <button mat-icon-button
                                    color="accent"
                                    matTooltip="Restore Plugin Backup"
                                    (click)="showImportPluginBackupMenu($event)">
                                <mat-icon>history</mat-icon>
                                <mat-icon class="button-menu-icon">arrow_drop_down</mat-icon>
                            </button>
        
                            <button mat-icon-button
                                    color="accent"
                                    matTooltip="Create Plugin Backup" 
                                    (click)="showExportPluginBackupMenu()">
                                <mat-icon>file_copy</mat-icon>
                            </button>
        
                            <button mat-icon-button
                                    color="accent"
                                    matTooltip="Export Plugin List"
                                    (click)="profileManager.exportPluginList(activeProfile)">
                                <mat-icon>ios_share</mat-icon>
                            </button>
                        </span>
                    }
                    @case ("config") {
                        <!-- Config Editor Controls -->
                        <span class="select-header-buttons">
                            <button mat-icon-button
                                    color="accent"
                                    matTooltip="Open Profile Config Folder"
                                    (click)="profileManager.showProfileConfigDirInFileExplorer()">
                                <mat-icon>folder_open</mat-icon>
                            </button>
                        </span>
                    }
                }
            </mat-card-header>
            <mat-card-content [attr.action-type]="activeDataAction">
                @switch (activeDataAction) {
                    @case ("plugins") {
                        <!-- Plugin List -->
                        <app-profile-plugin-list
                            [profile]="activeProfile"
                            (pluginChange)="profileManager.updatePlugin($event.pluginRef)"
                            (pluginOrderChange)="profileManager.reorderPlugins($event)"
                            (pluginExternalManagementChange)="toggleExternalPluginManagement()"
                            (pluginTypeChange)="profileManager.promotePluginType($event[0], $event[1])" />
                    }
                    @case ("config") {
                        <!-- Config File Editor -->
                        <ng-container *ngIf="gameDetails?.gameConfigFiles as configFiles">
                            <!-- File selector -->
                            <mat-form-field [attr.subscript]="false">
                                <mat-select #activeConfigFileModel="ngModel"
                                            [ngModel]="(configFiles | keyvalue)[0].key"
                                            (ngModelChange)="configFileDataModel.reset()">
                                    <mat-select-trigger>
                                        <span class="config-file-name"
                                              [attr.new-file]="(activeProfile! | appProfileConfigFile$:activeConfigFileModel.value:(configFileUpdate$ | async) | async) === undefined">
                                            {{ activeConfigFileModel.value }}
                                        </span>
                                        <span *ngIf="configFileDataModel.dirty" matColor="accent">*</span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let configFile of configFiles | keyvalue" [value]="configFile.key">
                                        {{ configFile.key }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <!-- File editor -->
                            <textarea #configFileDataModel="ngModel"
                                        class="config-file-editor"
                                        autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                        [disabled]="!activeConfigFileModel.value"
                                        [ngModel]="activeProfile! | appProfileConfigFile$:activeConfigFileModel.value:null:true | async">
                            </textarea>

                            <!-- File actions -->
                            <div class="config-file-actions">
                                <button *ngIf="(activeProfile! | appProfileConfigFile$:activeConfigFileModel.value:(configFileUpdate$ | async) | async) !== undefined"
                                        mat-icon-button
                                        matTooltip="Open in external file editor"
                                        matColor="accent"
                                        (click)="openConfigFile(activeConfigFileModel.value)">
                                    <mat-icon>file_open</mat-icon>
                                </button>

                                <button mat-icon-button
                                        matTooltip="Reload file contents"
                                        matColor="accent"
                                        (click)="reloadConfigFile(activeConfigFileModel.value, configFileDataModel.control)">
                                    <mat-icon>sync</mat-icon>
                                </button>

                                <button mat-flat-button
                                        class="config-save-button"
                                        color="accent"
                                        (click)="updateConfigFile(activeConfigFileModel.value, configFileDataModel.value); configFileDataModel.control.markAsPristine()">
                                    Save
                                </button>
                            </div>
                        </ng-container>
                    }
                }
            </mat-card-content>
        </mat-card>
    
        <!-- Actions -->
        <mat-expansion-panel #profileActionsPanel
                             *ngIf="activeProfile | appIsFullProfile"
                             id="profile-actions"
                             class="control-card mat-elevation-z3"
                             [expanded]="true"
                             [hideToggle]="!activeDataAction"
                             [disabled]="!activeDataAction"
                             [attr.fixed]="activeDataAction ? null : true">
            <mat-expansion-panel-header>
                <mat-panel-title *ngIf="profileActionsPanel.expanded">Actions</mat-panel-title>

                <mat-panel-description *ngIf="!profileActionsPanel.expanded">
                    <span>
                        <button id="mod-activate-button-compact"
                                class="mat-elevation-z3"
                                mat-stroked-button
                                [matTooltip]="isProfileDeployed ? 'Deactivate Profile' : 'Activate Profile'"
                                (click)="profileManager.updateActiveModDeployment(!isProfileDeployed); $event.stopPropagation()">
                                
                            @if (isDeployInProgress) {
                                <mat-icon class="slow-rotate" color="primary">sync</mat-icon>
                            } @else {
                                <mat-icon [color]="isProfileDeployed ? 'warn' : 'primary'">
                                    {{ isProfileDeployed ? "pause_circle" : "play_circle" }}
                                </mat-icon>
                            }
        
                            @if ((activeProfile | appProfileActiveModCount) > 0) {
                                ({{ activeProfile | appProfileActiveModCount }})
                            }
                        </button>

                        <button id="mod-refresh-button-compact"
                                class="mat-elevation-z3 no-label"
                                mat-stroked-button
                                [disabled]="!isProfileDeployed"
                                (click)="profileManager.refreshDeployedMods(); $event.stopPropagation()">
                            <mat-icon [color]="isProfileDeployed ? 'accent' : null">refresh</mat-icon>
                        </button>
                    </span>

                    <span>
                        <ng-container *ngTemplateOutlet="profileDeploymentStatusText; context: { $implicit: true }" />

                        <button id="launch-game-button-compact"
                                class="mat-elevation-z3"
                                mat-stroked-button
                                matTooltip="Mods are {{ isProfileDeployed ? 'enabled' : 'disabled'}}"
                                [matTooltipDisabled]="isProfileDeployed"
                                (click)="profileManager.launchGame(); $event.stopPropagation()">
                            <mat-icon color="accent">play_circle</mat-icon>
        
                            Start Game
                        </button>
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <ng-template matExpansionPanelContent>
                <div id="profile-actions-panel-content">
                    <div id="primary-actions" class="actions primary-actions">
                        <button id="mod-activate-button"
                                class="mat-elevation-z3"
                                mat-stroked-button
                                (click)="profileManager.updateActiveModDeployment(!isProfileDeployed)">
                            @if (isDeployInProgress) {
                                <mat-icon class="slow-rotate" color="primary">sync</mat-icon>
                            } @else {
                                <mat-icon [color]="isProfileDeployed ? 'warn' : 'primary'">
                                    {{ isProfileDeployed ? "pause_circle" : "play_circle" }}
                                </mat-icon>
                            }
        
                            {{ isProfileDeployed ? "Deactivate Profile" : "Activate Profile" }}

                            @if ((activeProfile | appProfileActiveModCount) > 0) {
                                ({{ activeProfile | appProfileActiveModCount }})
                            }
                        </button>
        
                        <button id="mod-refresh-button"
                                class="mat-elevation-z3"
                                mat-stroked-button
                                [disabled]="!isProfileDeployed"
                                (click)="profileManager.refreshDeployedMods()">
                            <mat-icon [color]="isProfileDeployed ? 'accent' : null">refresh</mat-icon>
                            
                            Refresh Files
                        </button>
                    </div>
        
                    <div id="secondary-actions" class="actions secondary-actions">
                        <button id="profile-dir-view-button"
                                mat-stroked-button
                                (click)="profileManager.showProfileBaseDirInFileExplorer()">
                            <mat-icon>folder_shared</mat-icon>
                            
                            Profile Folder
                        </button>

                        <button id="game-dir-view-button"
                                mat-stroked-button
                                (click)="profileManager.showGameRootDirInFileExplorer()">
                            <mat-icon>source</mat-icon>
                            
                            Game Folder
                        </button>
        
                        <button id="mod-dir-view-button"
                                mat-stroked-button
                                (click)="profileManager.showGameModDirInFileExplorer()">
                            <mat-icon>drive_file_move</mat-icon>
                            
                            Data Folder
                        </button>
        
                        @if (!activeProfile.manageConfigFiles) {
                            <button *ngIf="gameDetails | appGameConfigFilesFound$ | async"
                                    mat-stroked-button
                                    id="game-config-button"
                                    (click)="showGameConfigFileMenu($event); $event.stopPropagation()">
                                <mat-icon>description</mat-icon>
                                Config Files&nbsp;&nbsp;
                                <mat-icon class="button-menu-icon">arrow_drop_down</mat-icon>
                            </button>
                        }
                    </div>
        
                    <div class="spacer"></div>
        
                    <div id="game-info">
                        <div id="mod-status" [attr.mods-activated]="isProfileDeployed">
                            <ng-container *ngTemplateOutlet="profileDeploymentStatusText" />
                        </div>
                    </div>
        
                    <div id="game-actions" class="actions">
                        <button id="launch-game-button"
                                class="mat-elevation-z3"
                                mat-stroked-button
                                (click)="profileManager.launchGame()">
                            <mat-icon color="accent">play_circle</mat-icon>
        
                            Start Game
                        </button>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </div>
</div>

<!-- Add mod menu popup -->
<ng-template #addModMenu cdkPortal>
    <mat-card class="mat-elevation-z3">
        <mat-card-content>
            <mat-action-list>
                <button mat-list-item (click)="profileManager.addModFromUser(activeProfile!); addModMenuRef?.close()">
                    <mat-icon matListIcon color="accent">archive</mat-icon>
                    <span matLine>Add Mod</span>
                </button>

                <button mat-list-item (click)="profileManager.addModFromUser(activeProfile!, { externalImport: true }); addModMenuRef?.close()">
                    <mat-icon matListIcon color="accent">folder</mat-icon>
                    <span matLine>Import Mod</span>
                </button>

                <button mat-list-item (click)="profileManager.addModFromUser(activeProfile!, { root: true }); addModMenuRef?.close()">
                    <mat-icon matListIcon color="primary">archive</mat-icon>
                    <span matLine>Add Root Mod</span>
                </button>

                <button mat-list-item (click)="profileManager.addModFromUser(activeProfile!, { root: true, externalImport: true }); addModMenuRef?.close()">
                    <mat-icon matListIcon color="primary">folder</mat-icon>
                    <span matLine>Import Root Mod</span>
                </button>
            </mat-action-list>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Profile mgmt menu popup -->
<ng-template #profileMgmtMenu cdkPortal>
    <mat-card class="mat-elevation-z3">
        <mat-card-content>
            <mat-action-list>
                <button mat-list-item (click)="profileManager.showProfileWizard(); showProfileMgmtMenuRef?.close()">
                    <mat-icon matListIcon color="primary">person_add</mat-icon>
                    <span matLine>Add Profile</span>
                </button>

                <button mat-list-item (click)="profileManager.importProfileFromUser(); showProfileMgmtMenuRef?.close()">
                    <mat-icon matListIcon color="primary">group_add</mat-icon>
                    <span matLine>Import Profile</span>
                </button>

                <button mat-list-item (click)="profileManager.copyProfileFromUser(activeProfile!); showProfileMgmtMenuRef?.close()">
                    <mat-icon matListIcon color="primary">people_alt</mat-icon>
                    <span matLine>Copy Profile</span>
                </button>

                <button mat-list-item (click)="deleteActiveProfile(); showProfileMgmtMenuRef?.close()">
                    <mat-icon matListIcon color="primary">person_remove</mat-icon>
                    <span matLine>Delete Profile</span>
                </button>
            </mat-action-list>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Game config file menu popup -->
<ng-template #gameConfigFileMenu cdkPortal>
    <mat-card class="mat-elevation-z3">
        <mat-card-content>
            <mat-action-list>
                <ng-container *ngFor="let gameConfigFile of gameDetails!.gameConfigFiles | keyvalue">
                    <button *ngIf="'app:verifyPathExists' | appSendElectronMsg$:{ path: gameConfigFile.value } | async"
                            class="game-config-button"
                            mat-list-item
                            (click)="profileManager.openGameConfigFile(gameConfigFile.value); gameConfigFileMenuRef?.close()">
                        <mat-icon matListIcon>data_array</mat-icon>
                        <span matLine>{{ gameConfigFile.key }}</span>
                    </button>
                </ng-container>
            </mat-action-list>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Import plugin list menu -->
<ng-template #importPluginBackupMenu cdkPortal>
    <mat-card class="import-plugin-backup-menu mat-elevation-z3">
        <mat-card-content>
            <ng-container *ngIf="'profile:readPluginBackups' | appSendElectronMsg$:{ profile: activeProfile! } | async as backupFileEntries">
                <mat-action-list *ngIf="backupFileEntries.length > 0; else noBackups">
                    <button *ngFor="let backupFileEntry of backupFileEntries"
                            mat-list-item
                            class="backup-file-item"
                            matTooltipPosition="before"
                            [matTooltip]="(backupFileEntry.backupDate | date:'medium') ?? ''"
                            (click)="profileManager.importProfilePluginBackup(activeProfile!, backupFileEntry.filePath); importPluginBackupMenuRef?.close()">
                        <span matLine class="backup-file-item-line">
                            <span>{{ resolveBackupName(backupFileEntry) }}</span>

                            <button mat-icon-button (click)="deleteProfilePluginBackup(backupFileEntry.filePath); importPluginBackupMenuRef?.close(); $event.preventDefault()">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </span>
                    </button>

                    <mat-divider />

                    <button mat-list-item (click)="profileManager.showProfilePluginBackupsInFileExplorer(); importPluginBackupMenuRef?.close()">
                        <span matLine class="backup-file-item-line">
                            <span>Explore backups</span>

                            <mat-icon color="accent">folder</mat-icon>
                        </span>
                    </button>
                </mat-action-list>

                <ng-template #noBackups>
                    No backups
                </ng-template>
            </ng-container>
        </mat-card-content>
    </mat-card>
</ng-template>

<!-- Profile deployment status text -->
<ng-template #profileDeploymentStatusText let-asTooltip>
    <ng-container *ngIf="'Mods for another profile are active' as anotherActiveProfileWarnText">
        <ng-container *ngIf="('profile:findDeployedProfile' | appSendElectronMsg$:{ refProfile: activeProfile! } | async) as deployedProfileName; else showDeployStatus">
            <ng-container *ngIf="deployedProfileName !== activeProfile?.name; else showDeployStatus">
                <mat-icon class="warning"
                        [matTooltip]="anotherActiveProfileWarnText"
                        [matTooltipDisabled]="!asTooltip">
                        warning
                </mat-icon>
                <span *ngIf="!asTooltip" class="warning">{{ anotherActiveProfileWarnText }}</span>
            </ng-container>
        </ng-container>
        <ng-template #showDeployStatus>
            <ng-container *ngIf="!asTooltip">
                Mods are {{ isProfileDeployed ? 'enabled' : 'disabled' }}
            </ng-container>
        </ng-template>
    </ng-container>
</ng-template>