

<div id="profile-controls" *ngIf="!!activeProfile">
    <div id="profile-mod-list">
        <mat-form-field [attr.subscript]="false">
            <mat-label>Active Profile</mat-label>
            <mat-select [ngModel]="activeProfile.name" (ngModelChange)="profileManager.setActiveProfile($event)">
                <mat-select-trigger id="profile-select-trigger">
                    <span matColor="primary">{{ activeProfile.name }}</span>

                    <button mat-icon-button color="primary"
                            matTooltip="Add Profile"
                            (click)="profileManager.createProfileFromUser(); $event.stopPropagation()">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </mat-select-trigger>
                <mat-option *ngFor="let profileName of profileNames" [value]="profileName">
                    {{ profileName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card class="control-card mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>Mod List</mat-card-title>

                <span id="mod-list-actions">
                    <button mat-icon-button color="accent" matTooltip="Add Mod..." (click)="showAddModMenu($event)">
                        <mat-icon>add</mat-icon>
                        <mat-icon class="button-menu-icon">arrow_drop_down</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Show Mods" (click)="profileManager.showProfileModsDirInFileExplorer()">
                        <mat-icon>folder_open</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Verify Mods" (click)="profileManager.verifyActiveProfile()">
                        <mat-icon>error_outline</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Profile Settings" (click)="profileManager.showProfileSettings()">
                        <mat-icon>settings</mat-icon>
                    </button>
                </span>
            </mat-card-header>

            <mat-card-content>
                <app-profile-manual-mod-list [profile]="activeProfile" />

                <app-profile-mod-list *ngIf="activeProfile.mods.size > 0; else emptyModListHint"
                                    [profile]="activeProfile"
                                    (modChange)="registerModUpdate($event.name, $event.modRef)"
                                    (modOrderChange)="reorderMods($event)" />
                
                <ng-template #emptyModListHint>
                    <i class="empty-mod-list-hint">Click the <mat-icon color="accent">add</mat-icon> icon above to add a mod.</i>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card id="profile-actions" class="control-card mat-elevation-z3">
        <mat-card-header>
            <mat-card-title>Actions</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div id="primary-actions" class="actions">
                <button id="mod-activate-button"
                        class="mat-elevation-z3"
                        mat-stroked-button
                        (click)="profileManager.activateMods(!isModsActivated)">
                    <mat-icon [color]="isModsActivated ? 'warn' : 'primary'">
                        {{ isModsActivated ? "pause_circle" : "play_circle" }}
                    </mat-icon>

                    {{ isModsActivated ? "Deactivate Mods" : "Activate Mods" }}&nbsp;({{ activeProfile | appProfileActiveModCount }})
                </button>

                <button id="mod-refresh-button"
                        class="mat-elevation-z3"
                        mat-stroked-button
                        [disabled]="!isModsActivated"
                        (click)="profileManager.reactivateMods()">
                    <mat-icon [color]="isModsActivated ? 'accent' : null">refresh</mat-icon>
                    
                    Refresh Files
                </button>
            </div>

            <div id="secondary-actions" class="actions">
                <button id="profile-dir-view-button"
                        mat-stroked-button
                        (click)="profileManager.showProfileBaseDirInFileExplorer()">
                    <mat-icon>folder_shared</mat-icon>
                    
                    Profile Folder
                </button>

                <button id="mod-dir-view-button"
                        mat-stroked-button
                        (click)="profileManager.showModBaseDirInFileExplorer()">
                    <mat-icon>drive_file_move</mat-icon>
                    
                    Mod Folder
                </button>

                <button id="game-dir-view-button"
                        mat-stroked-button
                        (click)="profileManager.showGameBaseDirInFileExplorer()">
                    <mat-icon>source</mat-icon>
                    
                    Game Folder
                </button>
            </div>

            <div class="spacer"></div>

            <div id="game-info">
                <div id="mod-status" [attr.mods-activated]="isModsActivated">
                    Mods are {{ isModsActivated ? "enabled" : "disabled"}}
                </div>
            </div>

            <div id="game-actions" class="actions">
                <button id="launch-game-button"
                        class="mat-elevation-z3"
                        mat-stroked-button
                        (click)="profileManager.launchGame()">
                    <mat-icon color="accent">play_circle</mat-icon>

                    Start Game
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- Add mod menu popup -->
<ng-template #addModMenu cdkPortal>
    <mat-card class="mat-elevation-z3">
        <mat-card-content>
            <mat-action-list>
                <button mat-list-item (click)="profileManager.addModFromUser(); addModMenuRef?.close()">
                    <mat-icon matListIcon color="accent">archive</mat-icon>
                    <span matLine>Add Mod</span>
                </button>

                <button mat-list-item (click)="profileManager.addModFromUser({ importMod: true }); addModMenuRef?.close()">
                    <mat-icon matListIcon color="accent">folder</mat-icon>
                    <span matLine>Import Mod</span>
                </button>
            </mat-action-list>
        </mat-card-content>
    </mat-card>
</ng-template>