<mat-list *ngIf="profile.manualMods && profile.manualMods.length > 0">
    <mat-list-item>
        <span matLine class="item-line-info">
            <mat-checkbox [checked]="true"
                          [disabled]="true" />
            <span class="mod-title">
                <span>
                    <span>[External files]</span>
                    <span class="manual-files-count">
                        &nbsp;(<a target="_blank" matColor="accent" (click)="showFileList()">{{ profile.manualMods.length }}</a>)
                    </span>
                </span>

                <mat-icon class="manual-mods-tooltip"
                          matTooltip="These are external game/mod files found in the mod base directory that are not being managed by this profile">
                    help
                </mat-icon>
            </span>
            <span class="mod-load-order">{{ (profile | appProfileActiveModCount) + 1 }}</span>
        </span>
    </mat-list-item>

    <mat-divider />
</mat-list>
