:host {

    form {
        margin-top: 1.5rem;

        mat-form-field {
            display: block;
        }

        mat-expansion-panel {
            margin-bottom: 1rem;
        }

        .tooltip-icon {
            margin-left: 0.5rem;
        }
    }

    @at-root app-game-badge {
        border-radius: 0.75rem;
        padding: 0.5rem;
        margin: 0.5rem;
        width: auto;
    }
}