<form #profileForm="ngForm" id="profile-form" (ngSubmit)="submitForm(profileForm)">
    <div>
        <mat-checkbox name="baseProfileMode"
                      [disabled]="!createMode"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="baseProfileMode">
            Base Profile
            <mat-icon class="tooltip-icon" matTooltip="Base profile are limited profiles that can be extended by other profiles.">help</mat-icon>
        </mat-checkbox>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Game</mat-label>
        <mat-select name="gameId"
                    [required]="true"
                    [disabled]="!createMode || !!initialProfile.gameId"
                    [ngModel]="initialProfile.gameId ?? GameId.STARFIELD">
            <mat-select-trigger *ngIf="formModel$ | async as formModel">
                <app-game-badge [gameId]="formModel.gameId!" />
            </mat-select-trigger>
            <mat-option *ngFor="let gameId of gameIds" [value]="gameId">
                <app-game-badge [gameId]="gameId" />
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Profile Name</mat-label>
        <input matInput
                name="name"
                type="text"
                [required]="true"
                [disabled]="!createMode"
                [readonly]="!createMode"
                [ngModel]="initialProfile.name">
    </mat-form-field>

    <mat-form-field *ngIf="!baseProfileMode" appearance="fill">
        <mat-label>Base Profile</mat-label>
        <input matInput
                name="baseProfile"
                type="text"
                [ngModel]="initialProfile.baseProfile?.name">
    </mat-form-field>

    @for (fieldInfo of formModel$ | async | appProfileSettingsStandardPathFields:baseProfileMode; track fieldInfo) {
        <mat-form-field appearance="fill">
            <mat-label>{{ fieldInfo.title }}</mat-label>
            <input #fieldModel="ngModel"
                matInput
                type="text"
                [name]="fieldInfo.formId"
                [required]="true"
                [ngModel]="initialProfile[fieldInfo.formId]"
                cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === fieldModel.name">
    
            <button *ngIf="defaultPaths?.[fieldInfo.formId] as defaultPath"
                    mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    matTooltip="Reset to Default Value"
                    (click)="fieldModel.control.setValue(defaultPath)">
                <mat-icon>refresh</mat-icon>
            </button>
    
            <button mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    matTooltip="Choose {{ fieldInfo.fileTypes ? 'File' : 'Directory' }}"
                    (click)="choosePath(fieldModel, fieldInfo.fileTypes)">
                <mat-icon>folder</mat-icon>
            </button>
        </mat-form-field>
    }

    <div>
        <mat-checkbox name="manageConfigFiles" [ngModel]="initialProfile.manageConfigFiles">
            Manage Config/INI Files
            <mat-icon class="tooltip-icon" matTooltip="Create profile-specific INI files. Existing INI files are used if this is disabled.">help</mat-icon>
        </mat-checkbox>
    </div>

    <div *ngIf="!baseProfileMode">
        <mat-checkbox name="manageSaveFiles" [ngModel]="initialProfile.manageSaveFiles">
            Manage Save Files
            <mat-icon class="tooltip-icon" matTooltip="Manage save games so they are part of the profile and only active if the profile is active.">help</mat-icon>
        </mat-checkbox>
    </div>

    <div *ngIf="!baseProfileMode">
        <mat-checkbox name="linkMode"
                      [disabled]="!linkModeSupported"
                      [ngModel]="initialProfile.linkMode ?? linkModeSupported">
            Link Mode
        </mat-checkbox>

        <mat-icon class="tooltip-icon" matTooltip="Deploy file links instead of copying files (much faster)">help</mat-icon>
    </div>

    @if (!baseProfileMode) {
        <ng-container *ngIf="gameDb[formModel.gameId!] as gameDetails">
            <div *ngIf="gameDetails.archiveInvalidation">
                <mat-checkbox [disabled]="createMode || !(formModel.manageConfigFiles || (gameDetails | appGameConfigFilesFound$ | async))"
                            [checked]="'profile:checkArchiveInvalidationEnabled' | appSendElectronMsg$:{ profile: formModel } | async"
                            (change)="profileManager.setArchiveInvalidationEnabled($event.checked)">
                    Archive Invalidation
                </mat-checkbox>

                <mat-icon *ngIf="createMode" class="tooltip-icon" matTooltip="This setting can only be modified after the profile has been created.">help</mat-icon>
            </div>
        </ng-container>
    }
</form>