<form #profileForm="ngForm" id="profile-form" (ngSubmit)="onFormSubmit$.next(profileForm)">
    <ng-container *ngIf="!!formModel">
        <mat-form-field appearance="fill">
            <mat-label>Game</mat-label>
            <mat-select name="gameId"
                        [required]="true"
                        [disabled]="!createMode"
                        [(ngModel)]="formModel.gameId">
                <mat-select-trigger>
                    <app-game-badge [gameId]="formModel.gameId" />
                </mat-select-trigger>
                <mat-option *ngFor="let gameId of gameIds" [value]="gameId">
                    <app-game-badge [gameId]="gameId" />
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profile Name</mat-label>
            <input matInput
                   name="name"
                   type="text"
                   [required]="true"
                   [disabled]="!createMode"
                   [readonly]="!createMode"
                   [(ngModel)]="formModel.name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mod Base Directory</mat-label>
            <input #modBaseDirModel="ngModel"
                matInput
                type="text"
                name="modBaseDir"
                [required]="true"
                [(ngModel)]="formModel.modBaseDir"
                cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === modBaseDirModel.name">

            <button mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    (click)="chooseDirectory(modBaseDirModel)">
                <mat-icon>folder</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Game Base Directory</mat-label>
            <input #gameBaseDirModel="ngModel"
                matInput
                type="text" 
                name="gameBaseDir"
                [required]="true"
                [(ngModel)]="formModel.gameBaseDir"
                cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === gameBaseDirModel.name">

            <button mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    (click)="chooseDirectory(gameBaseDirModel)">
                <mat-icon>folder</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Game Executable</mat-label>
            <input #gameBinaryPathModel="ngModel"
                matInput
                type="text" 
                name="gameBinaryPath"
                [required]="true"
                [(ngModel)]="formModel.gameBinaryPath"
                cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === gameBinaryPathModel.name">

            <button mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    (click)="chooseFile(gameBinaryPathModel, ['exe', 'bat', 'cmd', 'lnk'])">
                <mat-icon>folder</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field *ngIf="isPluginsEnabled" appearance="fill">
            <mat-label>Plugin List Path</mat-label>
            <input #pluginListPathModel="ngModel"
                matInput
                type="text" 
                name="pluginListPath"
                [required]="isPluginsEnabled"
                [(ngModel)]="formModel.pluginListPath"
                cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === pluginListPathModel.name">

            <button mat-icon-button 
                    matSuffix
                    type="button"
                    color="accent"
                    (click)="chooseFile(pluginListPathModel, ['txt'])">
                <mat-icon>folder</mat-icon>
            </button>
        </mat-form-field>

        <div>
            <mat-checkbox name="linkMode" [(ngModel)]="formModel.linkMode">
                Link Mode <mat-icon matTooltip="Deploy file links instead of copying files (much faster)">help</mat-icon>
            </mat-checkbox>
        </div>

        <div>
            <mat-checkbox *ngIf="archiveInvalidationSupported"
                        [checked]="'profile:checkArchiveInvalidationEnabled' | appSendElectronMsg$:{ profile: formModel } | async"
                        (change)="profileManager.setArchiveInvalidationEnabled($event.checked)">
                Archive Invalidation
            </mat-checkbox>
        </div>
    </ng-container>
</form>