<form #profileForm="ngForm" id="profile-form" (ngSubmit)="onFormSubmit$.next(profileForm)">
    <ng-container *ngIf="!!formModel">
        <mat-form-field appearance="fill">
            <mat-label>Game</mat-label>
            <mat-select name="gameId"
                        [required]="true"
                        [disabled]="!createMode"
                        [(ngModel)]="formModel.gameId">
                <mat-select-trigger>
                    <app-game-badge [gameId]="formModel.gameId" />
                </mat-select-trigger>
                <mat-option *ngFor="let gameId of gameIds" [value]="gameId">
                    <app-game-badge [gameId]="gameId" />
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profile Name</mat-label>
            <input matInput
                   name="name"
                   type="text"
                   [required]="true"
                   [disabled]="!createMode"
                   [readonly]="!createMode"
                   [(ngModel)]="formModel.name">
        </mat-form-field>

        @for (fieldInfo of form.valueChanges | async | appProfileSettingsStandardPathFields; track fieldInfo) {
            <mat-form-field appearance="fill">
                <mat-label>{{ fieldInfo.title }}</mat-label>
                <input #fieldModel="ngModel"
                    matInput
                    type="text"
                    [name]="fieldInfo.formId"
                    [required]="true"
                    [(ngModel)]="formModel[fieldInfo.formId]"
                    cdkTrapFocus [cdkTrapFocusAutoCapture]="remedyMode === fieldModel.name">
        
                <button *ngIf="defaultPaths?.[fieldInfo.formId] as defaultPath"
                        mat-icon-button 
                        matSuffix
                        type="button"
                        color="accent"
                        matTooltip="Reset to Default Value"
                        (click)="fieldModel.control.setValue(defaultPath)">
                    <mat-icon>refresh</mat-icon>
                </button>
        
                <button mat-icon-button 
                        matSuffix
                        type="button"
                        color="accent"
                        matTooltip="Choose {{ fieldInfo.fileTypes ? 'File' : 'Directory' }}"
                        (click)="choosePath(fieldModel, fieldInfo.fileTypes)">
                    <mat-icon>folder</mat-icon>
                </button>
            </mat-form-field>
        }

        <div>
            <mat-checkbox name="manageConfigFiles" [(ngModel)]="formModel.manageConfigFiles">
                Manage Config/INI Files
                <mat-icon class="tooltip-icon" matTooltip="Create profile-specific INI files. Existing INI files are used if this is disabled.">help</mat-icon>
            </mat-checkbox>
        </div>

        <div>
            <mat-checkbox name="linkMode" [(ngModel)]="formModel.linkMode">
                Link Mode
                <mat-icon class="tooltip-icon" matTooltip="Deploy file links instead of copying files (much faster)">help</mat-icon>
            </mat-checkbox>
        </div>

        <ng-container *ngIf="gameDb[formModel.gameId] as gameDetails">
            <div *ngIf="gameDetails.archiveInvalidation">
                <mat-checkbox [disabled]="!(formModel.manageConfigFiles || (gameDetails | appGameConfigFilesFound$ | async))"
                              [checked]="'profile:checkArchiveInvalidationEnabled' | appSendElectronMsg$:{ profile: formModel } | async"
                              (change)="profileManager.setArchiveInvalidationEnabled($event.checked)">
                    Archive Invalidation
                </mat-checkbox>
            </div>
        </ng-container>
    </ng-container>
</form>