<table mat-table
       [dataSource]="pluginDataSource"
       cdkDropList
       [cdkDropListSortPredicate]="dropSortPredicate"
       (cdkDropListDropped)="dropReorder($event)">
    <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>
            @if (!activeGameDetails!.requireExternalPlugins) {
                <button mat-icon-button
                        matTooltip="Manage External Plugins"
                        [disabled]="profile.locked"
                        [color]="profile.manageExternalPlugins || activeGameDetails!.requireExternalPlugins ? 'accent' : null"
                        (click)="pluginExternalManagementChange$.emit()">
                    <mat-icon>travel_explore</mat-icon>
                </button>
            }
        </th>
        <td mat-cell *matCellDef="let pluginEntry" class="plugin-enabled">
            <ng-container>
                <mat-checkbox [checked]="pluginEntry.pluginRef.enabled"
                              [disabled]="profile.locked || pluginEntry.required || !!pluginEntry.baseProfile || !!pluginEntry.pluginRef.verificationError"
                              (change)="pluginChange$.emit(assign({}, pluginEntry, { pluginRef: assign({}, pluginEntry.pluginRef, { enabled: $event.checked }) }))" />
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Plugin</th>
        <td mat-cell *matCellDef="let pluginEntry" class="plugin-title">
            <ng-container>
                <span>
                    <div class="plugin-line-name">
                        @if (!!pluginEntry.pluginRef.modId) {
                            {{ pluginEntry.pluginRef.plugin }}
                        } @else {
                            <i>{{ pluginEntry.pluginRef.plugin }}</i>
                        }

                        @if (!!pluginEntry.pluginRef.promotedType) {
                            <mat-icon class="plugin-prommoted-icon"
                                    matTooltip="Plugin promoted to {{ pluginEntry.pluginRef.promotedType | uppercase }}"
                                    color="primary">
                                import_export
                            </mat-icon>
                        }

                        @if (!!pluginEntry.pluginRef.verificationError) {
                            <mat-icon class="plugin-verification-error-icon"
                                    matTooltip="This plugin has a verification error"
                                    color="warn">
                                error
                            </mat-icon>
                        }
                    </div>

                    <div class="plugin-line-mod-name">
                        @if (!!pluginEntry.pluginRef.modId) {
                            @let baseProfile = pluginEntry.baseProfile;

                            <span class="plugin-line-mod-id">{{ pluginEntry.pluginRef.modId }}</span>

                            @if (!!baseProfile) {
                                <span class="plugin-base-profile-marker"
                                    matTooltip="Managed by {{baseProfile}}">
                                    <mat-icon class="plugin-base-profile-icon" color="accent">arrow_outward</mat-icon>
                                </span>
                            }
                        } @else {
                            <span class="plugin-line-mod-id">[External]</span>
                        }
                    </div>
                </span>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef>Load Order</th>
        <td mat-cell *matCellDef="let pluginEntry" class="plugin-load-order">
            <div [matTooltip]="(pluginEntry.order - 1) | appHex"
                 [matTooltipDisabled]="pluginEntry.order === undefined || !profile.manageExternalPlugins">
                {{ pluginEntry.order ?? "--" }}
            </div>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

    <tr *matRowDef="let pluginEntry; columns: displayedColumns;"
        mat-row
        cdkDrag
        [cdkDragData]="pluginEntry"
        [cdkDragDisabled]="profile.locked || !!pluginEntry.baseProfile"
        [attr.li-theme]="themeContainer.theme"
        [class.plugin-unverified]="!!pluginEntry.pluginRef.verificationError"
        (contextmenu)="!pluginEntry.baseProfile ? showPluginContextMenu$.next([$event, pluginEntry]) : null"></tr>
</table>

<!-- Plugin context menu portal -->
<ng-template #pluginContextMenu cdkPortal>
    <mat-card class="mat-app-background mat-elevation-z6 plugin-context-menu">
        <mat-card-content>
            <mat-action-list>
                <button mat-list-item (click)="moveToTop(activeContextEntry!); pluginContextMenuRef?.close()">
                    <mat-icon matListIcon>arrow_upward</mat-icon>
                    <span matLine>Move to Top</span>
                </button>
            
                <button mat-list-item (click)="moveToBottom(activeContextEntry!); pluginContextMenuRef?.close()">
                    <mat-icon matListIcon>arrow_downward</mat-icon>
                    <span matLine>Move to Bottom</span>
                </button>

                @let defaultPluginType = getDefaultPluginType(activeContextEntry!);
                @if (!!defaultPluginType) {
                    <mat-list-item (click)="pluginTypeSelect.open()">
                        <mat-icon matListIcon>import_export</mat-icon>
                        <mat-select #pluginTypeSelect
                                    matLine
                                    placeholder="Plugin Type: {{ pluginTypeSelect.value | uppercase }}"
                                    [value]="getPluginType(activeContextEntry!)"
                                    (valueChange)="pluginTypeChange$.emit([activeContextEntry!.pluginRef, $event]); pluginContextMenuRef?.close()">

                            <mat-select-trigger>Plugin Type: {{ pluginTypeSelect.value | uppercase }}</mat-select-trigger>

                            @for (pluginType of activeGameDetails!.pluginFormats; track pluginType) {
                                <mat-option [value]="pluginType">
                                    {{ pluginType | uppercase }}
                                    @if (pluginType === defaultPluginType) {
                                        *
                                    }
                                </mat-option>
                            }
                        </mat-select>
                    </mat-list-item>
                }
            </mat-action-list>
        </mat-card-content>
    </mat-card>
</ng-template>