@font-face {
	font-family: "Material Icons";
	src: url("../../../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons-font-set {
    font-family: "Material Icons";
}