<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{createMode ? "Create Profile" : "Profile Settings"}}&nbsp;-&nbsp;{{profile.name}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-divider />
        <app-profile-settings [profile]="profile"
                              [createMode]="createMode"
                              [remedyMode]="remedyMode" />
    </mat-card-content>

    <mat-card-actions *ngIf="!!profileSettingsComponent">
        <button mat-raised-button
                type="submit"
                form="profile-form"
                color="primary"
                [disabled]="(profileSettingsComponent.onFormStatusChange$ | async) !== 'VALID'">
                {{ createMode ? "Create" : "Save" }}
        </button>

        <button *ngIf="!remedyMode" mat-raised-button (click)="overlayRef.close()">
            Cancel
        </button>
    </mat-card-actions>
</mat-card>