@if (!!importRequest) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span>
                    Install {{ importRequest.installer!.info?.name ?? importRequest.installer!.config?.moduleName?._ ?? importRequest.modName }}
                </span>

                @let modVersion = importRequest.installer!.info?.version;
                @if (!!modVersion) {
                    <span>v{{ modVersion }}</span>
                }
            </mat-card-title>

            @let modAuthor = importRequest.installer!.info?.author;
            @if (!!modAuthor) {
                <mat-card-subtitle>
                    <span>By {{ modAuthor }}</span>
                    @let modWebsite = importRequest.installer!.info!.website;
                    @if (!!modWebsite) {
                        <app-external-url variant="icon"
                                        class="mod-website-button"
                                        color="accent"
                                        [href]="modWebsite">
                            <mat-icon>launch</mat-icon>
                        </app-external-url>
                    }
                </mat-card-subtitle>
            }

            @let modHeaderImgPath = importRequest.installer!.config?.moduleImage?.path?.[0];
            @if (!!modHeaderImgPath) {
                @let modHeaderImg = modHeaderImgPath | appModImportRequestImage$:importRequest | async;
                @if (!!modHeaderImg) {
                    <img mat-card-md-image [src]="modHeaderImg.url">
                }
            
            }
        </mat-card-header>

        <mat-card-content>
            <mat-divider />
            <app-mod-installer [(importRequest)]="importRequest" />
        </mat-card-content>

        @if (!!installerComponent) {
            <mat-card-actions>
                <span class="actions-left actions">
                    <button mat-raised-button (click)="cancelAndManuallyInstall()">
                        <mat-icon>create_new_folder</mat-icon>
                        Manual Install
                    </button>
                </span>

                @if (installerComponent.installSteps.length > 1) {
                    <span class="actions-center actions">
                        <button [disabled]="!installerComponent.hasPreviousStep"
                                mat-raised-button
                                type="button"
                                color="primary"
                                (click)="installerComponent.previousStep()">
                            <mat-icon>arrow_back_ios</mat-icon>
                            Previous
                        </button>

                        <button [disabled]="!installerComponent.hasNextStep"
                                mat-raised-button
                                color="primary"
                                type="button"
                                (click)="installerComponent.nextStep()">
                            Next
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </span>
                }

                <span class="actions-right actions">
                    <button mat-raised-button (click)="overlayRef.close()">
                        Cancel
                    </button>

                    @if (!(installerComponent.isLoading$ | async)) {
                        <button [disabled]="(installerComponent.form.statusChanges | async) === 'INVALID'"
                                mat-raised-button
                                type="submit"
                                form="mod-installer-form"
                                color="accent">
                            <mat-icon>check</mat-icon>
                            Install
                        </button>
                    }
                </span>
            </mat-card-actions>
        }
    </mat-card>
}