<mat-card>
    <mat-card-header>
        <mat-card-title>Create Plugin List Backup</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form id="backupNameForm">
            <mat-form-field>
                <mat-label>Backup Name</mat-label>
                <input matInput
                    type="text"
                    name="backupName"
                    [(ngModel)]="_backupName">
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <app-dialog-actions [actions]="actions" (actionSelected)="actionSelected$.emit($event)" />
    </mat-card-actions>
</mat-card>