:host {
    width: 8rem;
    font-weight: 800;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;

    &.high-contrast {
        text-shadow: 2px 2px black;
    }
}