<form #gameInstallationForm="ngForm" id="game-installation-form">
    @if (!!value.steamId?.length || custom) {
        <mat-form-field>
            <mat-label>Steam ID</mat-label>
            <input matInput
                [disabled]="disabled || !custom"
                [ngModel]="!!value.steamId?.length ? value.steamId![0] : ''"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="value.steamId = [$event]; valueChange$.emit(value)">
        </mat-form-field>
    }

    @for (fieldEntry of profileSettings.fieldInput$ | async | appGameInstallFields:custom; track fieldEntry.formId) {
        <app-profile-form-field [field]="fieldEntry"
                                [disabled]="disabled"
                                [name]="fieldEntry.formId.toString()"
                                [(ngModel)]="value[fieldEntry.formId]"
                                (ngModelChange)="valueChange$.emit(value)" />
    }
</form>