<mat-card>
    <mat-card-header>
        <mat-card-title>Symlinks are not enabled</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <span class="info-text">
            Starfield Mod Loader does not currently have permission to create symlinks. Some functionality will be unavailble.
            <br><br>
            To enable symlinks, follow the guide below:
        </span>

        <details>
            <summary>Enable symlinks (Windows)</summary>

            To enable symlinks in Windows, you can either <b>A)</b> run Starfield Mod Loader as administrator (not recommended) or <b>B)</b> enable Windows Developer Mode. To enable Developer Mode, open the Windows "Settings" app, go to "For developers", and then enable "Developer Mode". Once enabled, Starfield Mod Loader should now be able to use symlinks.
        </details>
    </mat-card-content>

    <mat-card-actions>
        <app-dialog-actions [actions]="actions" (actionSelected)="actionSelected$.emit($event)" />
    </mat-card-actions>
</mat-card>