@use "@angular/material" as mat;
@use "@lithiumjs/ngx-material-theming" as mat-theming;
@use "styles/layout";

@include mat.core();
@include mat-theming.all-static-component-dimensions();

@include layout.declare();

// Use normalize.css
@import "normalize.css/normalize";

// Bundle the default and dark themes with the app itself
@import "styles/themes/default";
@import "styles/themes/dark";
