:host {

    table {
        padding: 0;
    }

    tr {

        &[external-files="false"] {
            cursor: pointer;
        }

        &.mod-unverified {
            font-style: italic;
        }

        &:not(.cdk-drag-placeholder) {
            transition: transform 250ms ease-in;
        }

        > td, th {
            padding: 0;
        }

         > th {
            font-size: 0.9em;
            opacity: 0.8;
         }

        > .mod-title {
            font-size: 1rem;
            
            .manual-mod-text {
                font-style: italic;
                display: inline-flex;
                flex-direction: row;
                align-items: center;

                .manual-files-count {
                    font-style: normal;
                    font-size: 0.8em;
                    opacity: 0.8;
    
                    > a {
                        font-weight: bold;
                        margin: 0 0.15rem;
                        cursor: pointer;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .manual-mods-tooltip {
                margin-left: 1rem;
            } 

            .mod-verification-error-icon {
                margin-left: 1rem;
            }
        }

        > .mod-enabled {
            width: 3rem;
        }

        > .mod-last-updated {

            > * {
                opacity: 0.8;
            }
        }

        > .mod-load-order {
            width: 4rem;

            > * {
                text-align: center;
                font-family: monospace;
                font-size: 1rem;
                opacity: 0.6;
                min-width: 1rem;
            }
        }
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    @at-root .cdk-drag-animating {
        transition: transform 100ms ease-out;
    }

    @at-root .cdk-drag-preview {
        display: flex;
        flex-direction: row;
        align-items: center;

        .mod-enabled {
            flex: 0 1 auto;
            padding: 0;
        }

        .mod-title {
            flex-grow: 1;
        }

        .mod-load-order {
            visibility: hidden;
        }
    }
}