<mat-list cdkDropList (cdkDropListDropped)="dropReorder($event)">
    <ng-container *ngFor="let modEntry of modList">
        <mat-list-item cdkDrag
                       [attr.li-theme]="themeContainer.theme"
                       (contextmenu)="showModContextMenu$.next([$event, modEntry])">
            <mat-checkbox [checked]="modEntry.modRef.enabled"
                        (change)="modChange$.emit({ name: modEntry.name, modRef: assign({}, modEntry.modRef, { enabled: $event.checked }) })" />

            {{ modEntry.name }}
        </mat-list-item>

        <mat-divider></mat-divider>
    </ng-container>
</mat-list>
