@use '@angular/material' as mat;

@mixin declare($primary, $accent, $warn, $is-dark) {

    [matPrimary], [matColor="primary"] {
        color: mat.m2-get-color-from-palette($primary, 500);
    }

    [matAccent], [matColor="accent"] {
        color: mat.m2-get-color-from-palette($accent, 500);
    }

    [matWarn], [matColor="warn"] {
        color: mat.m2-get-color-from-palette($warn, 500);
    }

    [matInfo], [matColor="info"] {
        color: rgb(200, 200, 0);
    }
}
