@use "./colors";
@use "./layout";
@use "./scrollbar";
@use "./profile-mod-list";
@use "./mod-import-options";
@use "./mods-overview-page";
@use "./profile-external-files-list-modal";

@mixin declare($primary, $accent, $warn, $is-dark) {

    // List all theme extensions here:

    // Global styles:
    @include colors.declare($primary, $accent, $warn, $is-dark);
    @include layout.declare($primary, $accent, $warn, $is-dark);
    @include scrollbar.declare($primary, $accent, $warn, $is-dark);

    // Component styles:
    @include profile-mod-list.declare("app-profile-mod-list", $primary, $accent, $warn, $is-dark);
    @include mod-import-options.declare("app-mod-import-options", $primary, $accent, $warn, $is-dark);

    // Page styles:
    @include mods-overview-page.declare("app-mods-overview-page", $primary, $accent, $warn, $is-dark);

    // Modal styles:
    @include profile-external-files-list-modal.declare("app-profile-external-files-list-modal", $primary, $accent, $warn, $is-dark);
}
